/* banner background */
.jumbotron{
  /* background-image: url("https://cdn.pixabay.com/photo/2016/12/26/17/28/food-1932466_1280.jpg"); */
  background-image: url('/static/images/Background.jpg');
  height: 95vh;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.demTable {
	width:100%;
	border:1px solid #b3adad;
	border-collapse:collapse;
  border-spacing:1px;
	padding:5px;
  /* margin-left: auto; */
  margin-right: auto;
}
.demTable th {
	border:1px solid #b3adad;
  text-align:center;
  font-size: 20px;
	padding:5px;
	background: #f0f0f0;
	color: #313030;
}
.demTable td {
	border:1px solid #b3adad;
	text-align:center;
  font-size: 16px;
	padding:5px;
	background: #ffffff;
	color: #313030;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
