{% extends 'rrs_app/base.html' %}

{% block content %}

<br></br>

<h1 class ="text-center"> FAQs</h1>

<br></br>

<div class = "col-md-10 offset-md-1">
	<section>
		<div>
				<!-- faq question -->
				<h2>Do I need a special pot for recipes?</h2>
				<!-- faq answer -->
				<div>
					<p>You do not need special equipment; you can make our recipes with your home pot unless specifically indicated in the recipe.</p>
				</div>
		</div>
		<hr>

		<div>
				<!-- faq question -->
				<h2>Can I double the recipe?</h2>
				<!-- faq answer -->
				<div>
					<p>You can double the recipe by doubling the ingredients.</p>
				</div>
		</div>
		<hr>

		<div>
				<!-- faq question -->
				<h2>I don’t want to use oil; what do you suggest using to substitute oil in your recipes?</h2>
				<!-- faq answer -->
				<div>
					<p>It depends on the recipe. You can use different things instead of oil, but you may not get the desired result in taste.</p>
				</div>
		</div>
		<hr>

		<div>
				<!-- faq question -->
				<h2>Can I share your recipes on other sites?</h2>
				<!-- faq answer -->
				<div>
					<p>You can share as long as you give references.</p>
				</div>
		</div>
		<hr>

		<div>
				<!-- faq question -->
				<h2>Can we upload our own recipes to your site?</h2>
				<!-- faq answer -->
				<div>
					<p>We do not have such a feature for now, but we are planning.</p>
				</div>
		</div>
		<hr>

		<div>
				<!-- faq question -->
				<h2>Can I find recipes from world cuisine?</h2>
				<!-- faq answer -->
				<div>
					<p>Yes, you can. We bring you together with all the world’s cuisine according to your materials. We also have a goal of doubling our recipes every month.</p>
				</div>
		</div>
		<hr>

		<div>
				<!-- faq question -->
				<h2>Can I use margarine in place of butter?</h2>
				<!-- faq answer -->
				<div>
					<p>Probably not. It’s too watery and doesn’t behave like butter. We suggest vegan butter such as Earth Balance sticks rather than margarine. Still, butter is all we bake with when it is needed in our recipes.</p>
				</div>
		</div>
		<hr>

		<div>
				<!-- faq question -->
				<h2>Do you offer vegan recipes?</h2>
				<!-- faq answer -->
				<div>
					<p>Yes, we do. All recipes are tagged according to the diet type. The recipes tagged as vegan contains only vegan ingredients.</p>
				</div>
		</div>
		<hr>

		<div>
				<!-- faq question -->
				<h2>How often are the unit prices of the ingredients updated?</h2>
				<!-- faq answer -->
				<div>
					<p>Ingredients’ unit costs are updated on the first day of every month.</p>
				</div>
		</div>
		<hr>

		<div>
				<!-- faq question -->
				<h2>Where do you get these unit prices for the ingredients?</h2>
				<!-- faq answer -->
				<div>
					<p>Our ingredient prices are taken from the website of our supplier company based on the units of kilogram, liter, and piece with reference to the retail sales prices.</p>
				</div>
		</div>
	</section>
</div>

<br></br>

{% endblock %}
