{% extends 'rrs_app/base.html' %}

{% block content %}

<div class="jumbotron">
	<div class="container">
		<br></br>
		<!-- {% if user.is_authenticated %}
			<h1 class="display-3" style="color: rgb(248, 240, 240);">Welcome {{user.username}}!</h1>
		{% else %}
			<h1 class="display-3" style="color: rgb(248, 240, 240);">Welcome Adventurer!</h1>
		{% endif %} -->
		<h1 class="display-4" style="color: rgb(248, 240, 240);">Recipe Recommendation System</h1>
		<p class="card-text" style="font-size: 25px; color: rgb(248, 240, 240);">Help You Cook With What You Have in Your Fridge</p>
		<br></br>
		<p><a class="btn btn-primary btn-lg" href="{% url 'input_form' %}" role="button">Get Started &raquo;</a></p>
	</div>
</div>

{% endblock %}
