{% extends 'rrs_app/base.html' %}

{% block content %}

<h1>
  {% if not form.instance.pk %}
  Create/Update Your Pantry
  {% else %}
  Update UserIngredient
  {% endif %}
</h1>
  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <p>
      <label for="addcost">Additional cost:</label>
      <input type="number" id="addcost" placeholder="0.00 TL" step="0.01" min="0" max="1000000">
    </p>
    <p>
      <label for="port">Portion size:</label>
      <select name="portion" id="portion">
        <option value="1">1</option>
        <option value="1/2">½</option>
        <option value="1/4">¼</option>
      </select>
    </p>
    <p>
      <input type="submit" class='btn btn-primary' name="submit" value="Add">
      <input type="submit" class='btn btn-primary' name="continue" onclick="alert('Your ingredients are added successfully!')" value="Continue">
    </p>
  </form>




{% endblock %}
