{% extends 'rrs_app/base.html' %}

{% block content %}

<br></br>

<div class = "col-md-4 offset-md-4">

  <h2> Create & Update Your Pantry </h2>

  <form method="POST", action="{% url 'pantry_create' %}">
    {% csrf_token %}
    {{ form.as_p }}

    <input type="submit" class="btn btn-primary" name="add" value="Add Item">
    <input type="submit" class='btn btn-success' name="complete" value="Complete">
    <a class='btn btn-warning' href="{% url 'input_form' %}">Back</a>
  </form>

<br></br> <br></br>

<h3> Available Ingredients: </h3>

  <table class="demTable">
    <thead>
      <tr>
        <th>Ingredient</th>
        <th>Amount</th>
			</tr>
		</thead>
    <tbody>
      {% for ingredient_object in ingredient_list %}
			<tr>
        <td>{{ingredient_object.ingredient}}</td>
        <td>{{ingredient_object.amount|floatformat:1}}</td>
      </tr>
      {% endfor %}
</div>

{% endblock %}
